
BrehmLab6B/build/classes/\.netbeans_automatic_build

BrehmLab6B/build/classes/\.netbeans_update_resources

BrehmLab7B/nbproject/private/private\.xml

BrehmLab7B/nbproject/private/private\.properties
